{% extends 'base.html' %}

{% block content %}
  <h1>{{ team.name }} Details!</h1>

  <div class="postions">
    <ul>
      <li>Top Lane: {{ team.top }}</li>
      <li>Jungle: {{ team.jungle }}</li>
      <li>Mid Lane: {{ team.mid }}</li>
      <li>Bot Lane: {{ team.bot }}</li>
      <li>Support: {{ team.support }}</li>
    </ul>
  </div>
  {% comment %} <div class="modify">
    {% endcomment %}
    {% comment %} <a href="{% url 'team-update' team.id %}" class="btn warn">Edit</a> {% endcomment %}
    {% comment %} <a href="{% url 'toy-delete' team.id %}" class="btn danger">Delete</a> {% endcomment %}
    {% comment %}
  </div>
  {% endcomment %}
  <a href="{% url 'team-list' %}"><button>Lets See all teams</button></a>

  <a href="{% url 'team-delete' team.id %}"><button>Do you want to delete?</button></a>
{% endblock %}
