{% extends "base.html" %} 
{% load static %}


{% block content %}
    

    
<div class="page-title">
  <h1> Welcome! </h1>
</div>


{%if not user.is_authenticated %}
<div class="log-in">
<section>
    <form action="{% url 'about' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
   <a href="{% url 'signup' %}"><button>
    Oh I need to make an account!
   </button></a>
</section>
{% else %}
<div class="img-bundle">
<img src="../static/images/champion/Zeri.png" alt="Zeri">
<img src="../static/images/champion/Shen.png" alt="Shen">
</div>
<div class="make-readable">
  <h2>Hey! {{user.username}}</h2>
  <h2><a href="{% url 'team-list' %}"> Lets See all teams!</a></h2>
<</div>
{% endif %} 
</div>
  
{% endblock content %}