@font-face {
    font-family: 'League';
    src: url('./fonts/League.otf') format('otf'),
        url('./fonts/League.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
}

body {
    background-color: #0A1428;
    --font-xtreme: 6rem;
    --font-xxl: 5rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
}

header {

    min-width: 100%;
    /*    background-image:url("../images/splash_art.jpg"); */
    object-fit: cover;
}

.header-title {
    display: flex;
    color: white;
    font-family: League;
    min-height: 100px;
    font-size: var(--font-xtreme);
    text-decoration: #C89B3C 10px;
    text-shadow: -2px -2px 0 #091428, 2px -2px 0 #C89B3C, -2px 2px 0 #091428, 4px 4px 0 #C89B3C;
    text-align: center;
}

.log-in {
    color: #C89B3C;
    text-align: center;
    font-size: var(--font-xl);
    max-width: 100%;
    font-family: League;

}

.page-title {
    color: #c89b3c;
    text-align: center;
    max-width: 100%;
    font-family: League;
}

.make-readable {

    color: #c89b3c;
    text-align: center;
    max-width: 100%;
    font-family: League;
}

.img-bundle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.form-form{
    font-size: x-large;
    text-align: center;
}

.positions {
    font-size: x-large;
    color: #c89b3c;
    font-family: League;
    text-align: left;
}

.soft-title{
    color: #C89B3C;
    text-align: center;
    font-size: var(--font-xl);
    max-width: 100%;
    font-family: League;
}
.champion-dictionary {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: left;
}
.detail-stuff{
    padding: 3%;
    font-size: large;
    padding-top: 1%;
    font
    font-weight: 50;
    color:#c89b3c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin-top: 3%;
    padding: 1%;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    font-family: League;
    background-color: #C89B3C
}