{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="make-readable">
<div class="form-form">
  <div class="img-bundle">

    <img src="{% static 'images/champion/Yasuo.png' %}" alt="Yasuo">
    <img src="{% static 'images/champion/Zed.png' %}" alt="Zed">
    <img src="{% static 'images/champion/Shaco.png' %}" alt="Shaco">
    <img src="{% static 'images/champion/Xayah.png' %}" alt="Xayah">
  </div>
</div>
{% if object %}
<h1>Edit Team</h1>
    {% else %}
<h1>New Team!</h1>
{% endif %}
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
<a href="{% url 'about' %}"><button>I changed my mind! Get me outta here!</button></a>
<h2><a href="{% url 'dictionary' %}"><button>Let me check the champion dictionary!</button></a></h2>



</div>
</div>
{% endblock %}
