{% extends "base.html" %} 
{% load static %}

{% block content %}


<div class=index>
    <div class="page-title">
<h1>All index! {{user.username}}</h1>
</div>



<a href="{% url 'team-form' %}">
    <button> Wanna add a team? </button>
</a>

</div>
<div class="make-readable">
{% if not team_list %}
<h2>No teams here (sad)</h2>
{% else %}
<div class=teams-all>
<h2>take your pick!</h2>
{% for team in team_list%}
<div class="positions">
    <ul>
        <li> {{team.name}}</li>
        <li>top lane: {{team.top}}</li>
        <li>jungle: {{team.jungle}}</li>
        <li>mid lane: {{team.mid}}</li>
       <li>bot lane: {{team.bot}}</li>
       <li>support: {{team.support}}</li>
    </ul>

<a href="{% url 'team-detail' team.id %}">
    <button>Lets get a closer look!</button>
</a>
</div>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock content %}

